<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siminov.connect.template"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

	<uses-permission android:name="android.permission.INTERNET"> </uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	
		<!-- SIMINOV CONNECT NOTIFICATION CONFIGURATION -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
	<permission android:name="siminov.connect.template.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="siminov.connect.template.permission.C2D_MESSAGE" />
	
    
    	
    <application
        android:name=".Siminov" android:icon="@drawable/siminov" 
        android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        <activity android:name=".activities.Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="siminov.connect.authorization.oauth.OauthAuthorizationActivity" android:theme="@android:style/Theme.NoTitleBar" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"> </action>
				<category android:name="android.intent.category.DEFAULT"> </category>
				<category android:name="android.intent.category.BROWSABLE"> </category>
				<data android:scheme="authentication" />
			</intent-filter>
		</activity>
        
        
        <activity android:name=".activities.Home" />
        <activity android:name=".activities.LiquorDetail" />
        <activity android:name=".activities.HomeSourceCode" />
        <activity android:name=".activities.About" />
    
        
			<!-- SIMINOV CONNECT NOTIFICATION CONFIGURATION -->
		<receiver android:name="siminov.connect.notification.NotificationReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="siminov.connect.template" />
            </intent-filter>
        </receiver>
        
        <service android:name="siminov.connect.notification.NotificationService" />		
        
    </application>

</manifest>

